---
version: '3.8'
services:
  booksystem_proxy:
    image: pomerium/pomerium:latest
    container_name: booksystem_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - booksystem_api
      - booksystem_ui
    env_file:
      - .envrc
    volumes:
      - /etc/letsencrypt:/pomerium/certs:ro
      - ./proxy/private.pem:/pomerium/private.pem
      - ./proxy/config.yaml:/pomerium/config.yaml
  booksystem_db:
    image: mysql:latest
    container_name: booksystem_db
    restart: always
    env_file:
      - .envrc
    volumes:
      - db_data:/var/lib/mysql
  booksystem_api:
    build: ./backend
    container_name: booksystem_api
    restart: always
    depends_on:
      - booksystem_db
    env_file:
      - .envrc
    volumes:
      - ./backend/config.yaml:/app/config.yaml
      - object_data:/var/lib/booksystem
  booksystem_ui:
    build: ./frontend
    container_name: booksystem_ui
    restart: always
    env_file:
      - .envrc
    depends_on:
      - booksystem_api
  verify:
    image: pomerium/verify:latest
    expose:
      - 8000
  certbot:
    image: certbot/dns-cloudflare:latest
    container_name: certbot
    entrypoint: 
      - /bin/sh
      - -c
      - |
        while true; do
          certbot renew \
            --dns-cloudflare \
            --dns-cloudflare-credentials /etc/letsencrypt/cloudflare.ini \
            --non-interactive \
            --agree-tos
          sleep 10d
        done
    restart: unless-stopped
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
volumes:
  db_data:
  object_data:
