# See detailed configuration settings : https://www.pomerium.com/docs/reference/


# this is the domain the identity provider will callback after a user authenticates
authenticate_service_url: https://authenticate.nyahahanoha.net

####################################################################################
# Certificate settings: https://www.pomerium.com/docs/reference/certificates       #
# You do not need to generate your own certificates. We auto-generate and populate # 
# the certificate variables below with an X.509 public and private key.            #
####################################################################################
certificate_file: /pomerium/certs/live/nyahahanoha.net/fullchain.pem
certificate_key_file: /pomerium/certs/live/nyahahanoha.net/privkey.pem

##################################################################################
# Identity provider settings : https://www.pomerium.com/docs/identity-providers/ #
# The keys required in this section vary depending on your IdP. See the          #
# appropriate docs for your IdP to configure Pomerium accordingly.               #
##################################################################################

##################################################################################
# Cookie secret settings: https://www.pomerium.com/docs/reference/cookie-secret  #
# You do not need to generate a cookie secret. We auto-generate and populate the #
# cookie secret for you below to encrypt and sign session cookies.               #
##################################################################################
signing_key_file: /pomerium/private.pem

idp_scopes:
  - openid
  - email
  - profile

# https://pomerium.com/reference/#routes
routes:
  - from: https://books.nyahahanoha.net
    prefix: /book_management_system.v1.BookManagementService
    to: http://booksystem_api:8080
    pass_identity_headers: true
    allow_any_authenticated_user: true
  - from: https://books.nyahahanoha.net
    prefix: /images
    to: http://booksystem_api:8080
    allow_any_authenticated_user: true
  - from: https://books.nyahahanoha.net
    to: http://booksystem_ui:8000
    pass_identity_headers: true
    allow_any_authenticated_user: true
  - from: https://verify.nyahahanoha.net
    to: http://verify:8000
    pass_identity_headers: true
    allow_any_authenticated_user: true
